
:root {
--clr-white: hsl(0, 100%, 100%);
--clr-black: hsl(0, 0%, 0%);

--clr-grey-200: hsl(252, 11%, 91%);
--clr-grey-600: hsl(251, 9%, 53%);
--clr-grey-700: hsl(248, 5%, 34%);
--clr-grey-800: hsl(248, 10%, 15%);
--clr-grey-850: hsl(248, 15%, 11%);
--clr-grey-900: hsl(248, 17%, 9%);
--clr-grey-950: hsl(255, 22%, 4%);

--clr-green-200: hsl(127, 100%, 82%);

--clr-yellow-300: hsl(42, 91%, 68%);

--clr-orange-400: hsl(13, 95%, 66%);

--clr-red-500: hsl(0, 92%, 63%);
}