@use '../globals' as g;

.slider-title {
    @include g.text-preset-4;
}
.length-value {
    @include g.text-preset-1;
    color: var(--clr-green-200);
}

.slider-wrapper {
    height: 4.25rem;
    color: var(--clr-white);
}

.slider-label-flexbox {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: g.$spacing-1600;
}
.label-slider-flexbox {
    display: grid;
    gap: g.$spacing-200;
}

::-webkit-slider-runnable-track{
    background-color: var(--clr-grey-850);
    height: 0.5rem;
}

::-webkit-slider-thumb {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: none;
    background-color: var(--clr-grey-200);
}

::-moz-range-thumb {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: none;
    background-color: var(--clr-grey-200);

}

input[type="range"]::-moz-range-track {
    background-color: var(--clr-grey-850);
    height: 0.5rem;
}

input[type="range"] {
    -moz-appearance: none;
    appearance: none;
    background-color: var(--clr-grey-800);
}
