@use '../globals' as g;

p, span {
    @include g.text-preset-4;
}
span {
    color: var(--clr-green-200);
}

.slider-wrapper {
    width: 23.4375rem;
    height: 7.25rem;
    color: var(--clr-white);
    background-color: var(--clr-grey-800);
    padding: g.$spacing-300 g.$spacing-400;
    gap: g.$spacing-100;
}

.slider-label-flexbox {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: g.$spacing-1600;
}
.label-slider-flexbox {
    display: grid;
    gap: g.$spacing-100;
}

::-webkit-slider-runnable-track{
    background-color: var(--clr-grey-850);
    height: 0.5rem;
}

::-webkit-slider-thumb {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: none;
    background-color: var(--clr-grey-200);
}

::-moz-range-thumb {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: none;
    background-color: var(--clr-grey-200);

}

input[type="range"]::-moz-range-track {
    background-color: var(--clr-grey-850);
    height: 0.5rem;
}

input[type="range"] {
    -moz-appearance: none;
    appearance: none;
    background-color: var(--clr-grey-800);
}
