@use '../globals' as g;

.strength-states-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: g.$spacing-200;
    background-color: var(--clr-grey-850);
    margin-bottom: g.$spacing-200;
}

.strength-title {
    @include g.text-preset-4;
    color: var(--clr-grey-600);
    text-transform: uppercase;
}

.strength-states-flexbox {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: g.$spacing-100;
    width: 100%;
    border-radius: 0.25rem;
}

.strength-state-box {
    width: 0.625rem;
    height: 1.75rem;
    border: 2px solid var(--clr-grey-200);
}